.home-page {
  display: grid;
  padding: 5px;
  justify-content: space-around;
  align-items: center;
  background-image: url(../../assets/images/bg_home.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.home-page .header-section img {
  width: 100%;
}

.home-page .header-section p {
  font-size: 24px;
  font-weight: 200;
  line-height: 26px;
  color: #fff;
}

.home-page .buttons-section {
  display: grid;
  justify-content: center;
}

.home-page .btn-play {
  background: #49ced2;
  border: 8px solid #63ffda;
  color: #ffffff;
}

.home-page footer {
  display: grid;
  justify-content: center;
}

.home-page footer span {
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}
