.questions-page {
  display: grid;
  padding: 5px;
  justify-content: space-around;
  align-items: center;
  background-image: url(../../assets/images/bg_questions.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.questions-page .back-button {
  background: #ff9968;
  border: 8px solid #ffde63;
  color: #fff;
  font-size: 16px;
  position: absolute;
  top: 2%;
  right: 10%;
}

.questions-page .back-button:before {
  content: "";
  font-weight: normal;
  -webkit-transition: width 0.2s;
  transition: width 0.2s;
  width: 0px;
  float: left;
  white-space: nowrap;
  overflow: hidden;
}
.questions-page .back-button:hover:before {
  width: 160px;
  content: "Página inicial";
}

.questions-page .question-section .question-count {
  font-weight: bold;
  font-size: 36px;
  line-height: 26px;
  color: #ffffff;
}

.questions-page .question-section .question-count small {
  font-size: 24px;
  line-height: 26px;
}

.questions-page .question-section .question-text {
  margin-top: 16px;
  font-size: 24px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  width: 80%;
  padding: 0 10%;
}

.questions-page .answer-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.questions-page .answer-section button {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 16px;
  margin: 8px 20%;

  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.1em;

  background: #fcfcff;
  border: 8px solid #eeebff;
  color: #7c63ff;
}

.questions-page .score-section .end-score {
  font-weight: bold;
  font-size: 36px;
  line-height: 26px;
  color: #ffffff;
}

.questions-page .score-section .end-text {
  margin-top: 16px;
  font-size: 24px;
  font-weight: 200;
  line-height: 26px;
  color: #fff;
}

.questions-page .score-section .end-qrcode {
  height: 400px;
  margin: 24px 0;
}

.questions-page footer {
  display: grid;
  justify-content: center;
}

.questions-page footer img {
  height: 24px;
  display: block;
}

.questions-page footer span {
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin-top: 8px;
}

/* Transitions */
.questions-page .answer-section button:hover,
.questions-page .back-button:hover {
  font-weight: bold;
  -webkit-transform: translateY(-4px);
  transform: translateY(-4px);
}

/* Animations */
@keyframes bounce {
  0%,
  50%,
  100% {
    transform: translateY(0);
  }
  20%,
  40% {
    transform: translateY(-12px);
  }
  60%,
  80% {
    transform: translateY(-6px);
  }
}
