body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

button,
.btn {
  box-sizing: border-box;
  border-radius: 20px;
  width: max-content;
  margin: 0;

  font-weight: bold;
  font-size: 24px;
  line-height: 26px;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  text-decoration: none;
}

button,
.btn-big {
  padding: 64px;
}

button:focus {
  outline: none;
}

/* Animations and Transitions */
button:hover,
.btn:hover {
  box-shadow: 2px 0 20px #fff;
  -webkit-transform: translateY(-16px);
  transform: translateY(-8px);
  filter: brightness(90%); /* CHANGE - Not supported by IE */
  font-size: 25px;
  transition: 0.3s;
}
