@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

button,
.btn {
  box-sizing: border-box;
  border-radius: 20px;
  width: auto;
  margin: 0;

  font-weight: bold;
  font-size: 24px;
  line-height: 26px;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  text-decoration: none;
}

.btn-small {
  padding: 16px;
}

.btn-big {
  padding: 64px;
}

button:focus {
  outline: none;
}

/* Transitions */
button:hover,
.btn:hover {
  box-shadow: 2px 0 20px #fff;
  -webkit-transform: translateY(-16px);
  transform: translateY(-16px);
  filter: brightness(90%); /* CHANGE - Not supported by IE */
  font-size: 25px;
  transition: 0.3s;
}

/* Animations */
@keyframes bounce {
  0%,
  50%,
  100% {
    transform: translateY(0);
  }
  20%,
  40% {
    transform: translateY(-24px);
  }
  60%,
  80% {
    transform: translateY(-12px);
  }
}

.bounce {
  animation-delay: 0;
  -webkit-animation-duration: 20s;
  animation-duration: 20s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-iteration-count: 20;

  -webkit-animation-name: bounce;
  animation-name: bounce;
}

/* Loading */
#loading-page.show {
  position: absolute;
  display: inline-block;
  margin: 25% 0;
  width: 80px;
  height: 80px;
  transform: rotate(45deg);
  transform-origin: 0 0;
  z-index: 1071;
}

#loading-page.show div {
  position: absolute;
  width: 64px;
  height: 64px;
  background: #fff;
  animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
  box-shadow: 2px 0 20px #fff;
}

#loading-page.show div:after,
#loading-page.show div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 64px;
  height: 64px;
  background: #fff;
  box-shadow: 2px 0 20px #fff;
}

#loading-page.show div:before {
  left: -48px;
  border-radius: 50% 0 0 50%;
}

#loading-page.show div:after {
  top: -48px;
  border-radius: 50% 50% 0 0;
}

#modal-backdrop.show {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  backdrop-filter: blur(64px);
  background-color: #000;
  opacity: 0.6;
}

@keyframes lds-heart {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}
