body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

button,
.btn {
  box-sizing: border-box;
  border-radius: 20px;
  width: max-content;
  margin: 0;

  font-weight: bold;
  font-size: 24px;
  line-height: 26px;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  text-decoration: none;
}

button,
.btn-big {
  padding: 64px;
}

button:focus {
  outline: none;
}

/* Transitions */
button:hover,
.btn:hover {
  box-shadow: 2px 0 20px #fff;
  -webkit-transform: translateY(-16px);
  transform: translateY(-8px);
  filter: brightness(90%); /* CHANGE - Not supported by IE */
  font-size: 25px;
  transition: 0.3s;
}

/* Animations */
@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%,
  50%,
  100% {
    transform: translateY(0);
  }
  20%,
  40% {
    transform: translateY(-24px);
  }
  60%,
  80% {
    transform: translateY(-12px);
  }
}

.bounce {
  animation-delay: 0;
  -webkit-animation-duration: 20s;
  animation-duration: 20s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-iteration-count: 20;

  -webkit-animation-name: bounce;
  animation-name: bounce;
}
